# Go binaries
/bin/
/obj/

# Dependency directories
/vendor/

# Environment variables file
.env

# Log files
*.log

# Coverage files
*.out

# IDE or editor specific files
.idea/
*.swp
*.swo
*.sublime-workspace
*.sublime-project

# MacOS specific files
.DS_Store

# Windows specific files
Thumbs.db
ehthumbs.db

# Go test binary, built with `go test`
*.test

# Compiled binary and executable files
*.exe
*.exe~
*.dll
*.so
*.dylib
# Google Cloud Service Account Credentials
internal/services/*.json
.env
